@import '../../../styles/variables.scss';

.navigation {
  &-list { list-style-type: none; display: flex; gap: 17px;
    &_row { flex-direction: row; } 
    &_col { flex-direction: column; } 
  }

  &-link { cursor: pointer; font-size: 18px; font-family: ui-monospace; color: $black; text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}